@{
    ViewData["Title"] = "Books Page";
}

<div class="text-center">
    <h1 class="display-4">This is where the Books are!</h1>
</div>

<div>
    @model IEnumerable<Bookstore.Models.Book>

    @{
        ViewData["Title"] = "Books Page";
    }

    <div class="text-center">
        <h1 class="display-4">Books</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>Pages</th>
                <th>Release_Year</th>
                <!-- Add other columns as needed -->
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Book_Id</td>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.Pages</td>
                    <td>@book.Release_Year</td>
                    <!-- Add other columns data as needed -->
                </tr>
            }
        </tbody>
    </table>


</div>

<div class="text-center">
    <a asp-action="Create" asp-controller="Books" class="btn btn-dark mt-3 rounded-pill">
        Create new Book
    </a>
</div>



